#!/usr/bin/make -f

#export DH_VERBOSE = 1
#export PYBUILD_VERBOSE = 1
export NOLIBCA=1
export PYBUILD_NAME=pyepics
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3,sphinxdoc --buildsystem=pybuild

override_dh_auto_build: export http_proxy=127.0.0.1:9
override_dh_auto_build: export https_proxy=127.0.0.1:9
override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. python3 -m sphinx -N -bhtml doc/ build/sphinx/html # HTML generator

override_dh_auto_clean:
	dh_auto_clean
	rm -rf pyepics.egg-info

override_dh_python3:
	dh_python3 --shebang=/usr/bin/python3
